= form_for(@invoice, :html => one_submit_only(:invoice), :remote => true) do |f|
  = link_to_close new_invoice_path
  = f.hidden_field :user_id
  
  = f.error_messages  :object_name => t('invoice')
  
  = render :partial => "invoices/top_section", :locals => { :f => f }
  = render :partial => "invoices/extra",       :locals => { :f => f }
  = render :partial => "invoices/permissions", :locals => { :f => f }
  .buttonbar
    = f.submit t(:create_invoice), :onclick => %/$("account_assigned_to").value = $F("invoice_assigned_to"); if ($("account_id").visible()) { $("account_id").enable(); }/
    #{t :or}
    = link_to_cancel new_invoice_path
