.filters#filters
  = render :partial => "shared/search"

  %h4{ :style => "margin:16px 0 8px 0; border-bottom: 1px solid grey; padding-bottom:2px;" } #{t :filter_by_status}
  - Setting.invoice_status.each do |key|
    .check_box{ :style => "border-bottom: 1px silver dotted;" }
      %div{ :style => "float: right;" }
        = @invoice_status_total[key]
      = invoice_status_checkbox(key, @invoice_status_total[key])
      = label_tag(key, t(key))